.git
.git/**
.local
.local/**
.cache
.cache/**
.wrangler
.wrangler/**
.env*
.dev.vars
node_modules
node_modules/**
dist*
dist*/**
**/target
**/target/**
.DS_Store
**/.DS_Store
._*
**/._*
*.swp
*.swo
npm-debug.log*
